html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    background-image: url(./imagens/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.hero{
    padding: 1px;
}

.hero-content{
    margin: 100px auto 0;
    width: 80%;
    text-align: center;
}

.hero-content h1{
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.hero-content p{
    padding: 15px;
    background-color: rgba(0, 0, 0, .7);
    display: inline-block;
    border-bottom: 2px solid white;
}

.container{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    width: 860px;
    margin: auto;
    background-color: white;
    padding: 16px;
    margin-top: 22px;
}

.container__content{
    flex-basis: 250px;
    flex-grow: 1;
}

.container__content img{
    width: 100%;
    display: block;
}

.container__content p{
    background-color: #393535;
    margin: 0;
    padding: 10px;
}